<h1>Listing repositories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Owner</th>
  </tr>

<%= will_paginate %>
<% @repositories.each do |repository| %>
  <tr>
    <td><%= repository.name %></td>
    <td><%= repository.url %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Repository', new_repository_path %>
