<br>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>


<%= will_paginate %>
<% @authors.each do |author| %>
  <tr>
    <td><%= link_to "#{author.name}", author_timesheet_path(author) %></td>
    <td><%= author.email %></td>
  </tr>
<% end %>
</table>



